<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dados do Formulário</title>
</head>

<body>
  <h1>Dados</h1>
  <div>
    <p><strong>Nome:</strong> {{nome}}</p>
    <p><strong>CPF:</strong> {{cpf}}</p>
    <p><strong>Data de Nascimento:</strong> {{nasc}}</p>
    <p><strong>Endereço:</strong> {{endereco}}</p>
    <p><strong>UF:</strong> {{uf}}</p>
    <p><strong>CEP:</strong> {{cep}}</p>
    <p><strong>E-mail:</strong> {{email}}</p>
    <p><strong>Telefone:</strong> {{telefone}}</p>
    <p><strong>Especialidade Médica:</strong> {{especialidade}}</p>
    <p><strong>Data da Consulta:</strong> {{data}} </p>
    <p><strong>Hora da Consulta:</strong> {{hora}}</p>
    <p><strong>Medicamentos Alérgicos:</strong> {{alergia}}</p>
    <p><strong>Informações Adicionais:</strong> {{info}}</p>
  </div>
</body>

</html>